{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
              
                              <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <div class="woocommerce-info">Returning customer? <a class="showlogin" data-toggle="collapse" href="accounts/login" aria-expanded="false" aria-controls="login-form-wrap">Click here to login</a>
                            </div>

                            <form id="login-form-wrap" class="login collapse" method="post">
                            {% csrf_token %}
                            {{ form }}


                                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing &amp; Shipping section.</p>

                                <p class="form-row form-row-first">
                                    <label for="username">Username or email <span class="required">*</span>
                                    </label>
                                    <input type="text" id="username" name="username" class="input-text">
                                </p>
                                <p class="form-row form-row-last">
                                    <label for="password">Password <span class="required">*</span>
                                    </label>
                                    <input type="password" id="password" name="password" class="input-text">
                                </p>
                                <div class="clear"></div>


                                <p class="form-row">
                                    <input type="submit" value="Login" name="login" class="button">
                                    <label class="inline" for="rememberme"><input type="checkbox" value="forever" id="rememberme" name="rememberme"> Remember me </label>
                                </p>
                                <p class="lost_password">
                                    <a href="#">Lost your password?</a>
                                </p>

                                <div class="clear"></div>
                            </form>

                           

                            <form enctype="multipart/form-data" action="{{checkout}}" class="checkout" method="POST" name="checkout">
                                {% csrf_token %}
                                {{ form }}
                                <div id="customer_details" class="col2-set">
                                    <div class="col-1">
                                
                            
                                        <div class="woocommerce-billing-fields">
                                            <h3>Checkout Form</h3>
                                           

                                            <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">Ordered by <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{checkoutform.ordered_by}}" placeholder="" id="billing_first_name" name="billing_first_name" class="input-text ">
                                            </p>

                                            <div class="clear"></div>

                                          

                                            <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                <label class="" for="billing_address_1">Address <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{checkoutform.address}}" placeholder="Street address" id="billing_address_1" name="billing_address_1" class="input-text ">
                                            </p>

                                         
                                           
                                            <p id="billing_state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
                                                <label class="" for="billing_state">County</label>
                                                <input type="text" id="billing_state" name="billing_state" placeholder="State / County" value="{{checkoutform.country}}" class="input-text ">
                                            </p>
                                           

                                            <div class="clear"></div>

                                            <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">Email Address <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{checkoutform.emailaddress}}" placeholder="" id="billing_email" name="billing_email" class="input-text ">
                                            </p>

                                            <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                                <label class="" for="billing_phone">Phone <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" value="{{checkoutform.phone}}" placeholder="" id="billing_phone" name="billing_phone" class="input-text ">
                                            </p>
                                        </div>
                                        <input  type="submit" value="Place Order" >
                                        <div class="clear"></div>
                                    </div>

                    
                                    </div>
                                </form>
                                  <div class="woocommerce-info"><a class="button" data-toggle="collapse" href="cart" aria-expanded="false" aria-controls="login-form-wrap">UPDATE CART</a>
                            </div>
                        </div>
                    </div>
                                    </div>

                             </form>
                         </div>
                                    </div>

                            <h3 id="order_review_heading">Your order</h3>
                              
                                <div id="order_review" style="position: relative;">
                        
                                    {% for totalcart in total_cart %}
                                  
                            
                                    <table class="shop_table">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                        </thead>
                                        
                                        <tfoot>

                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td><span class="amount">{{totalcart.cart.sub_total}}</span>
                                                </td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Shipping and Handling</th>
                                                <td>

                                                    Free Shipping
                                                    <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                                </td>
                                            </tr>


                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td><strong><span class="amount">£{{totalcart.cart.sub_total}}</span></strong> </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                
                                    {% endfor %}
                                      

                                        <div class="clear"></div>

                                    </div>
                            
                    
                                </div>                       
                            </div>                    
                        </div>
                
                    </div>
                </div>
            </div>
            
{% endblock %}