{% extends "base.html" %}  {% load static %}


{% block content %}


    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="product-bit-title text-center">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

          
          <center>
                <font color="red">
                    {% for message in messages %} {{message}} {% endfor %}
                </font>
            </center>

        <form class="ui large form" method="post" >
        {% csrf_token %}
        
          <div class="ui stacked segment">
            <div class= "card">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" required name="username" placeholder="Username" value="{{ data.username }}" />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" required name="password" placeholder="Password" />
              </div>
            </div>

            <button  input type="submit" class="ui fluid large teal submit button">Login</button>
          </div>
         </div>
        </form>
       
      </div>
    </div>
    <div class="four wide column"></div>
  </div>
  
</div>
{% endblock %}